body{
    padding-top: 3.5rem;
}

.btn-add-to-cart{
    border-radius: 2rem;
}

.btn-wish-list{
    border-radius: 2rem;
    padding: 1rem 1.12rem;
    background-image: url(../svg/heart-outlined.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: white;
    border: 1px solid #307CFF;
}

.btn-wish-list-active{
    background-image: url(../svg/heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.btn-wish-list:focus{
    /*box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);*/
    outline: 0;
}

.btn-wish-list:hover{
    background-color: #eaeaea;
}