<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{css/login-page.css}" rel="stylesheet"/>
    <meta name="google-signin-client_id" content="89944683825-852048csojanv1vacf88te428nuuhj82.apps.googleusercontent.com"/>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="container">
    <div class="row">

        <div class="main">

            <h3>Please Log In, or <a th:href="@{/registration}">Sign Up</a></h3>
            <div class="row">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <a href="#" onclick="signOut();">Sign out</a>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                </div>
            </div>
            <div class="login-or">
                <hr class="hr-or"/>
                <span class="span-or">or</span>
            </div>

            <form th:action="@{/login}" method="post" role="form">
                <div class="form-group">
                    <label for="inputUsernameEmail">Username or email</label>
                    <input type="text" class="form-control" name="username" id="inputUsernameEmail"/>
                </div>
                <div class="form-group">
                    <a class="pull-right" href="#">Forgot password?</a>
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" name="password" id="inputPassword"/>
                </div>
                <div class="checkbox pull-right">
                    <label><input type="checkbox"/>Remember me </label>
                </div>
                <button type="submit" class="btn btn btn-primary">
                    Log In
                </button>
            </form>

        </div>

    </div>
</div>
<!-- /.container -->
<!-- jQuery -->
<script th:src="@{js/jquery.js}" />
<!-- Bootstrap Core JavaScript -->
<script th:src="@{js/bootstrap.min.js}"/>
<script src="https://apis.google.com/js/platform.js"/>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
    function onSignIn(googleUser) {
        console.log('id_token : ' + googleUser.getAuthResponse().id_token);
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>
</body>
</html>