<html xmlns:th="http://www.thymeleaf.org">
<body>

<div>
    <table>
        <tr th:each="sticker : ${stickerDtos}">
            <td th:text="${sticker.name}"></td>
            <td th:text="${sticker.price}"></td>
            <td><img th:src="${sticker.imageUrl}" width="200" height="200"/></td>
        </tr>
    </table>
    <a href="/image">Create Sticker</a>
</div>
<table>
    <tr th:if="${stickerPage.totalPages != 1}" >
        <td th:if="${stickerPage.number != 0}">
            <a th:href="@{/sticker(page=1)}">&laquo;</a>
        </td>
        <td th:if="${stickerPage.number != 0}">
            <a th:href="@{/sticker(page=${stickerPage.number})}">&larr;</a>
        </td>
        <td th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
            <a th:href="@{/sticker(page=${page})}" th:text="${page}"></a>
        </td>
        <td th:if="${stickerPage.number + 1 != stickerPage.totalPages}">
            <a th:href="@{/sticker(page=${stickerPage.number + 2})}">&rarr;</a>
        </td>
        <td th:if="${stickerPage.number + 1 != stickerPage.totalPages}">
            <a th:href="@{/sticker(page=${stickerPage.totalPages})}">&raquo;</a>
        </td>
    </tr>
</table>
</body>
</html>