<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Template</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div th:replace="fragments/carousel :: carousel"></div>
    <!-- Body -->
    <div class="row justify-content-center pt-5">
        <div class="col-8">
            <h3 class="text-center">Top Stickers</h3>
            <div class="card-deck pb-2 pt-2">
                <div class="card" th:each="sticker : ${stickerDtos}">
                    <div class="card-body">
                        <img class="card-img-top" src="http://placehold.it/320x150" alt="" width="200" height="200" th:src="${sticker.imageUrl}"/>
                        <h5 class="text-center" th:text="${sticker.name}"></h5>
                            <!--<a href="#" th:href="@{/shopcart/{uuid}/add(uuid=${sticker.uuid})}"-->
                               <!--th:text="${sticker.name}">First Product</a>-->
                        <h5 class="text-center" th:text="'$' + ${sticker.price}">$24.99</h5>
                        <hr/>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-outline-primary btn-wish-list mr-4" th:href="@{/shopcart/{uuid}/add(uuid=${sticker.uuid})}">
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-add-to-cart ml-4" th:href="@{/shopcart/{uuid}/add(uuid=${sticker.uuid})}">
                                ADD TO CART
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <nav th:if="${stickerPage.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${stickerPage.number == 0} ? d-none : ''">
                        <a class="page-link" href="#" th:href="@{/sticker(page=${stickerPage.number})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"
                        th:classappend="${page  == stickerPage.number + 1} ? disabled : ''">
                        <a class="page-link" href="#" th:href="@{/sticker(page=${page})}" th:text="${page}">
                        </a>
                    </li>

                    <li class="page-item" th:classappend="${stickerPage.number + 1 == stickerPage.totalPages} ? d-none : ''">
                        <a class="page-link" href="#" th:href="@{/sticker(page=${stickerPage.number + 2})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>
