<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" th:action="@{/sticker}" >
			<input type="text" name="stickerName"/>
			<input type="number" name="stickerPrice" step="0.01" min="0.01" max="99"/>
			<input type="file" name="stickerImage"/>
			<input type="submit" value="Add"/>
		</form>
	</div>

</body>
</html>
